html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/background.png);
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100%;
  margin-bottom: -100px;
}

.my-container {
  background-color: #ffffff;
  color: #777777;
  width: 960px;
  margin: 0 auto;
  min-width: 900px;
}

header {
  border-bottom: 2px solid #cccccc;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  list-style-type: none;
}

li.nav {
  font: bold 32px Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  float: left;
  text-align: center;
  padding: 25px;
  margin-right: 20px;
  list-style: none;
  background-color: #4aaaa5;
}

nav li {
  color: #777777;
  float: right;
  list-style-type: none;
}

nav a:hover {
  background-color: white;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #4aaaa5;
}

nav a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  color: #cccccc;
}

h1 {
  margin: 2.5%;
  padding: 2.5% 2.5%;
  color: #4aaaa5;
  font-size: 32px;
  text-align: left;
  border-bottom-style: solid;
}

h2 {
  font-size: 24px;
  text-align: center;
}

p {
  line-height: 1.6;
  padding: 0 2.5%;
}

section {
  clear: both;
}

section#about {
  min-height: 600px;
  padding: 10% 0;
}

img#headshot {
  width: 200px;
  height: 200px;
  padding-right: 2.5%;
  padding-top: 2.5%;
  float: left;
  margin-left: 2.5%;
}

section#portfolio {
  min-height: 600px;
  padding: 5% 0;
}

.portfolio-name {
  background: #4aaaa5;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 210px;
  padding: 10px;
}

.about-me,
.portfolio,
.contact {
  width: 100%;
  color: #4aaaa5;
  padding: 2%;
  border-bottom: 2px solid #cccccc;
  font: bold 32px Georgia, "Times New Roman", Times, serif;
}
.portfolio-name:hover {
  background-color: red;
}

.row {
  padding: 5%;
}
section#contact {
  padding: 5% 0;
  min-height: 300px;
}

ul {
  padding: 0;
  color: #cccccc;
  margin: 0;
}

footer {
  text-align: center;
  background-color: #666666;
  color: white;
  border-top-style: solid;
  border-color: #4aaaa5;
}

footer a {
  color: white;
}

footer,
.push {
  height: 100px;
}

.form-group {
  text-align: left;
  padding: 2% 2% 0 2%;
}

.button {
  background-color: #4aaaa5;
  color: #ffffff;
}
